body,html{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: grey;
}

#header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 90px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
}

.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

#slider-size{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*box-shadow: 2px 2px 5px 1px;*/
    border-radius: 2px;
    height: 18px;
    width: 60px;
    margin-bottom: 5px;
}

#content{
    display:flex;
    margin-left: -300px;
}

#input{
    width: 200px;
    height: 30px;
}

#button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

button{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin: 20px 0;
    border-radius: 5px;
}

#container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px;
}

.grid{
    display:flex;
    flex:auto;
    background-color: black;
}