body,html{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}


.titles{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#content{
    display:flex;
    margin-left: -150px;
}

#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    margin-right: 50px;
    padding: 50px;
    border-radius: 5px;
}

#container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.grid{
    display:flex;
    flex:auto;
    background-color: aqua;
}